/*========================================
  共通CSS
========================================*/

/*========================================
  サイト全体
========================================*/
.site-width{
	width: 980px;
	margin: 0 auto;
}


/*========================================
  背景
========================================*/
.bg-gray{
	background-color: #eee;
}

.bg-black{
	background-color: #333;
}


/*========================================
  テキストカラー
========================================*/
.tx-gold{
	color: #b6a489;
}

.tx-red{
	color: red;
}

.tx-white{
	color: white;
}

/*========================================
  テキスト配置
========================================*/
.text-center{
	text-align: center;
}


/*========================================
  ボーダー
========================================*/
.bd-gold{
	border:10px solid #f6f5f4;
}


/*========================================
  アンダーライン
========================================*/
.tx-under{
	text-decoration: underline;
}


/*========================================
  ボタン
========================================*/
.btn{
	padding: 15px 15px;
	background-color: #b6a489;
	color: white;
	font-size: 18px;
}

/*========================================
  フォーム
========================================*/

.form-container{
	padding: 20px 40px;	
	margin: 0 auto;
	width:400px;
	overflow: hidden;
}

.form-conatiner{
	display: inline-block;
}

.form-container .title{
	text-align: center;
	margin-bottom: 50px;
}

input[type="text"],input[type="password"]{
	display: block;
	border:none;
	background: #eee;
	height: 40px;
	width: 100%;
	font-size: 16px;
	margin-bottom: 15px;
}

input[type="checkbox"]{
	display: inline-block;
}

input[type="number"]{
	display: block;
	border:none;
	background: #eee;
	height: 40px;
	width: 30%;
	font-size: 16px;
	margin-bottom: 15px;
}

input[type="submit"]{
	cursor: pointer;
}

label.err input{
	background: #f7dcd9;
}

.area-msg{
	margin-bottom: 15px;
}