/*========================================
  インポート
========================================*/
@import url("reset.css");
@import url("project.css");
@import url("margin.css");
@import url("common.css");

/*========================================
  ヘッダー
========================================*/
header{
	background-color: #333;
	height: 80px;
	line-height: 89px;
	color: white;
}

header .menu{
	display: flex;
	justify-content: space-between
}

header .menu a{
	color: white;
}

header .menu ul{
	display: flex;
	list-style: none;
}

header .menu ul li{
	margin-left: 15px;
}

/*========================================
  メイン
========================================*/

.product-title{
	margin-top: 25px;
}

.product-title-category{
	background-color: #00bfff;
	padding: 5px 15px;
	color: white;
	vertical-align: middle;
}

.product-title-title{
	font-size: 25px;
	vertical-align: bottom;
}

/*========================================
  画像
========================================*/
.product-img-container{
	display: flex;
	margin-top: 25px;
}

.img-main{
	width: 75%;
}

.img-sub{
	width: 25%;
	padding: 0px 15px;
	box-sizing: border-box;
	background-color: #f6f5f4;
}

.img-main img{
	width: 100%;
	height: auto;
	vertical-align: bottom;

}

.img-sub img{
	margin-top: 10px;
	width: 95%;
	height: auto;
}

/*========================================
  商品詳細
========================================*/
.product-detail{
	margin-top: 15px;
	min-height: 200px;
	background-color: #f6f5f4;
	padding: 10px 15px;
}

.product-buy{
	margin-top: 15px;
	height: 60px;
	line-height: 60px;
	display: flex;
	justify-content: flex-end;

}

.product-buy .back a{
	color: #b6a489;
}

.product-buy .price{
	margin-right: 20px;
	font-size: 30px;
	font-weight: bold;
}

.product-buy p:nth-child(1){
	margin-right: auto;
}


